@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;800&display=swap');
$white: #fff;
$light-white: whitesmoke;
$black: #2d2d2d;
$light-grey: #f3f3f3;
$grey: #ddd;
$forest: #3a6b35;
$sage: #cbd18f;
$mustard: #e3b448;
$pumkin: #ff6250;
$primary: $forest;
$secondary: $sage;
$info: $sage;
$family-serif: 'Outfit', sans-serif;
$family-primary: $family-serif;
$navbar-item-active-color: $primary;
$navbar-item-active-background-color: $secondary;
$body-size: 20px;
$weight-normal: 400;
$strong-weight: 600;
$weight-bold: 800;
$title-weight: $weight-bold;
$subtitle-weight: $strong-weight;
// Import only what you need from Bulma
// @import 'bulma/sass/utilities/_all.sass';
// @import 'bulma/sass/base/_all.sass';
// @import 'bulma/sass/grid/_all.sass';
// @import 'bulma/sass/elements/button.sass';
// @import 'bulma/sass/elements/container.sass';
// @import 'bulma/sass/elements/title.sass';
// @import 'bulma/sass/form/_all.sass';
// @import 'bulma/sass/components/navbar.sass';
// @import 'bulma/sass/components/level.sass';
// @import 'bulma/sass/layout/hero.sass';
// @import 'bulma/sass/layout/section.sass';

@import 'bulma/bulma.sass';
@import 'bulma-tooltip';
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  background: $light-white;
  color: $black;
  font-family: $family-primary;
  margin: 0;
  min-height: 100vh;
}
.pre-line {
  white-space: pre-line;
}
main {
  align-items: stretch;
  background-color: $white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 114px 0px $grey;
  -moz-box-shadow: 0px 0px 114px 0px $grey;
  box-shadow: 0px 0px 114px 0px $grey;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  min-width: 250px;
  padding: 20px;
  .content {
    max-width: 100%;
  }

  header.main-header {
    width: 100%;
    .logo {
      color: $forest;
      font-family: 'Courier New', Courier, monospace;
      font-size: 30px;
      font-weight: bold;
      line-height: 30px;
      transition: color 0.4s ease;
      &:hover {
        color: $pumkin;
      }
    }
    .navbar {
      width: 100%;
      .navbar-menu {
        align-items: center;
        .navbar-end {
          gap: 20px;
          .navbar-item {
            font-size: 1.25rem;
            line-height: 1;
            padding: 0;
            position: relative;
            white-space: nowrap;
            &:active,
            &:hover,
            &:focus {
              background: none;
              color: $primary;
            }
            &:after {
              background-color: $primary;
              border-radius: 9999px;
              bottom: -4px;
              content: '';
              display: block;
              height: 3px;
              left: 0;
              position: absolute;
              transform: scaleX(0);
              transform-origin: center left;
              transition-duration: 0.4s;
              transition-property: transform;
              width: 100%;
            }
            &:hover:after,
            &.active:after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
  .sup-title {
    color: $forest;
  }
  header.header-section {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    .title {
      margin-bottom: 0;
    }
  }
  //INTRO
  .level {
    align-items: stretch;
    gap: 20px;
    .level-item {
      align-content: space-between;
      display: grid;
      flex-shrink: inherit;
      justify-items: center;
      .title {
        margin: 0.5rem auto;
        min-height: 1rem;
      }
    }
  }
  // WORK AND LAB
  .project-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    li {
      display: flex;
      flex-direction: column;
      &:hover {
        cursor: pointer;
        .media img {
          transform: scale(1.15);
        }
        .project-info {
          background-color: darken($sage, 20%);
        }
      }
      .media {
        overflow: hidden;
        img {
          height: 100%;
          object-fit: cover;
          transition: transform 0.8s ease;
          width: 100%;
        }
      }
      .project-info {
        background-color: $sage;
        flex: 1;
        padding: 20px;
        transition: background-color 0.8s ease;
      }
    }
  }
  .head-project {
    .hero-body {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
    }
  }
  //SKILLS LIST (ICONS)
  .skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    li {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
      img {
        transition: transform 0.29s cubic-bezier(0.53, 1.53, 0.58, 1);
      }
    }
  }

  .columnsticky {
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
button.scrollup {
  bottom: 40px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  z-index: 1;
}
/*
@keyframes slideAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  overflow: hidden;
  width: 100%;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper__listInstance {
  animation: slideAnimation linear infinite;
  display: flex;
  width: max-content;
}
.looper__innerList[data-animate='true'] .looper__listInstance {
  animation: slideAnimation linear infinite;
}

.looper__listInstance {
  animation: none;
  display: flex;
  width: max-content;
}
*/
/*CONTACT*/
// animation text

svg.textContact {
  display: flex;
  font-family: $family-primary;
  font-size: 3em;
  font-weight: $weight-bold;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  width: 100%;

  text {
    letter-spacing: 10px;
  }
  .letter {
    animation: stroke-offset 5.5s infinite linear;
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-dashoffset: 0%;
    stroke-width: 2px;

    &:nth-child(1) {
      animation-delay: -1;
      stroke: #f39c12;
    }

    &:nth-child(2) {
      animation-delay: -2s;
      stroke: $grey;
    }

    &:nth-child(3) {
      animation-delay: -3s;
      stroke: $forest;
    }

    &:nth-child(4) {
      animation-delay: -4s;
      stroke: $mustard;
    }

    &:nth-child(5) {
      animation-delay: -5s;
      stroke: $sage;
    }
  }
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
