@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap');

$white: #fff;
$light-white: whitesmoke;
$black: #2d2d2d;
$light-grey: #f3f3f3;
$grey: #ddd;
$forest: #3a6b35;
$sage: #cbd18f;
$mustard: #e3b448;
$pumkin: #ff6250;

$family-serif: 'Epilogue', sans-serif;
$family-primary: $family-serif;

// Import only what you need from Bulma
// @import 'bulma/sass/utilities/_all.sass';
// @import 'bulma/sass/base/_all.sass';
// @import 'bulma/sass/grid/_all.sass';
// @import 'bulma/sass/elements/button.sass';
// @import 'bulma/sass/elements/container.sass';
// @import 'bulma/sass/elements/title.sass';
// @import 'bulma/sass/form/_all.sass';
// @import 'bulma/sass/components/navbar.sass';
// @import 'bulma/sass/components/level.sass';
// @import 'bulma/sass/layout/hero.sass';
// @import 'bulma/sass/layout/section.sass';

@import 'bulma/bulma.sass';
@import 'bulma-tooltip';
* {
  box-sizing: border-box;
}
body {
  align-items: center;
  background: $light-white;
  color: $black;
  display: flex;
  font-family: $family-primary;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

main {
  align-items: center;
  background-color: $white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 114px 0px $grey;
  -moz-box-shadow: 0px 0px 114px 0px $grey;
  box-shadow: 0px 0px 114px 0px $grey;
  display: flex;
  flex-direction: column;

  min-height: 250px;
  min-width: 250px;
  padding: 20px;
  .content {
    max-width: 100%;
  }

  header {
    .logo {
      color: $forest;
      font-family: 'Courier New', Courier, monospace;
      font-size: 30px;
      font-weight: bold;
      line-height: 30px;
    }
  }
  .sup-title {
    color: $forest;
  }

  .project-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 250px);
    li {
      display: flex;
      flex-direction: column;
      &:hover .media {
        img {
          transform: scale(1.15);
        }
      }
      .media {
        overflow: hidden;
        img {
          height: 100%;
          object-fit: cover;
          transition: transform 0.8s ease;
          width: 100%;
        }
      }
      .project-info {
        background-color: $sage;
        flex: 1;
        padding: 20px;
      }
    }
  }
  .skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    li {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
      img {
        transition: transform 0.29s cubic-bezier(0.53, 1.53, 0.58, 1);
      }
    }
  }
}

@keyframes slideAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  overflow: hidden;
  width: 100%;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper__listInstance {
  animation: slideAnimation linear infinite;
  display: flex;
  width: max-content;
}
.looper__innerList[data-animate='true'] .looper__listInstance {
  animation: slideAnimation linear infinite;
}

.looper__listInstance {
  animation: none;
  display: flex;
  width: max-content;
}
