/* 
THEMES FOR DARK AND LIGHT MODE 
*/
@use './colors' as colors;
$themes: (
  bgBody: (
    darkTheme: colors.$coal,
    lightTheme: colors.$light-white
  ),
  bgApp: (
    darkTheme: colors.$charcoal,
    lightTheme: colors.$white
  ),
  txtPrimary: (
    darkTheme: colors.$beige,
    lightTheme: colors.$black
  ),
  txtVibrant: (
    darkTheme: colors.$secondary,
    lightTheme: colors.$primary
  ),
  shadow: (
    darkTheme: colors.$black,
    lightTheme: colors.$grey
  ),
  icons: (
    darkTheme: colors.$beige,
    lightTheme: colors.$black
  ),
  logo: (
    darkTheme: colors.$mustard,
    lightTheme: colors.$forest
  ),
  buttonSecondaryBg: (
    darkTheme: colors.$black,
    lightTheme: colors.$light-white
  ),
  buttonSecondaryTxt: (
    darkTheme: colors.$beige,
    lightTheme: colors.$primary
  )
);

@mixin styles($mode) {
  @each $key, $map in $themes {
    @each $prop, $color in $map {
      @if $prop == $mode {
        --#{$key}: #{$color};
      }
    }
  }
}

.darkMode {
  @include styles('darkTheme');
}

.lightMode {
  @include styles('lightTheme');
}
