@use './colors' as colors;

$tablet: 769px;
$family-serif: 'Outfit', sans-serif;
$family-primary: $family-serif;
$navbar-breakpoint: $tablet;
$navbar-item-active-color: colors.$primary;
$navbar-item-active-background-color: colors.$secondary;

$weight-normal: 400;
$strong-weight: 600;
$weight-bold: 800;
$title-weight: $weight-bold;
$subtitle-weight: $strong-weight;

//loading animation
$animation-speed: 2s;
/*    Spinner Variables */
$spinner-size: 10;
$line-color: colors.$mustard;
$line-alpha: 0.73;
$ring-color: colors.$sage;
$ring-alpha: 0.2;
$ring-size: 4;
