$tablet: 769px;
$family-serif: 'Outfit', sans-serif;
$family-primary: $family-serif;
$navbar-breakpoint: $tablet;
$navbar-item-active-color: $primary;
$navbar-item-active-background-color: $secondary;
$body-size: 20px;
$weight-normal: 400;
$strong-weight: 600;
$weight-bold: 800;
$title-weight: $weight-bold;
$subtitle-weight: $strong-weight;
